.container {
  position: relative;
  max-width: 768px;
  min-height: 100vh;
  padding-bottom: 90px; /* footer의 높이 만큼 padding을 줍니다. */
  margin: 0 auto;
  margin-top: 45px;
  .wallet {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wallet-cash {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wallet-cash-title {
        font-size: 12px;
        font-weight: 700;
        color: #9a9a9a;
        margin-top: 10px;
      }

      .wallet-cash-amount {
        font-size: 50px;
        font-weight: 500;
        color: #000;
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
      }
    }

    .wallet-total {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wallet-total-title {
        font-size: 12px;
        font-weight: 700;
        color: #9a9a9a;
        margin-top: 10px;
      }

      .wallet-total-amount {
        font-size: 50px;
        font-weight: 500;
        color: #000;
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
      }
    }

    .Currency {
      font-size: 30px;
      font-weight: 700;
    }

    .money {
      margin-left: 3px;

      .cash {
        font-size: 50px;
        font-weight: 700;
      }
      .cents {
        color: #9a9a9a;
        font-size: 25px;
        margin-left: -15px;
        font-weight: 500;
      }
    }

    .transfer {
      margin-top: 20px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;

      .transfer-deposit,
      .transfer-withdraw,
      .transfer-send {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          margin-top: 5px;
          font-size: 10px;
          font-weight: 500;
          color: #000;
        }
      }

      .transfer-deposit-btn,
      .transfer-withdraw-btn,
      .transfer-send-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background-color: #ececec;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: #000;
        }
      }
    }
  }

  .assets {
    position: relative;
    display: flex;
    .assets-box {
      margin: 0 auto;
      position: relative;
      margin-top: 30px;
      background-color: #fefefe;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 12px;
      flex-wrap: wrap;
      align-content: center;
      padding: 0px 20px;
    }

    .assets-card {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      box-shadow: 0px 20px 50px 0px #00000015;
      border-radius: 15px;
      height: 205px;
      min-width: 350px;
      padding: 15px 20px;

      .assets-card-title {
        font-size: 16px;
        font-weight: 500;
      }
      .assets-card-amount {
        font-family: "Montserrat", sans-serif;
        display: flex;
        font-size: 20px;
        font-weight: 700;
        transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
    }

    .assets-card.active {
      position: relative;
      .assets-card-amount {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
      }
      // transform: translateY(-250px); /* 调整这个值让它滑到你想要的位置 */
    }

    .sell {
      background-image: linear-gradient(to right, #a56cbddf, #933ed4);
      color: #fff;
      z-index: 500;
      .cents {
        margin-left: -5px;
        color: #ffffff99;
      }
    }

    .buy {
      background-image: linear-gradient(to right, #ffffff, #ffffff);
      color: #000;
      border: 1px solid #00000020;
      z-index: 600;
      .cents {
        margin-left: -5px;
        color: #bebebe;
      }
    }

    .invest {
      background-image: linear-gradient(to right, #333, #0c0c0c);
      color: #fff;
      margin-top: 30px;
      z-index: 700;
      .cents {
        margin-left: -5px;
        color: #ffffff99;
      }
    }

    @media screen and (max-width: 768px) {
      .assets-card {
        margin: 0px auto;
      }

      .assets-card:not(.sell) {
        margin-top: -120px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .assets {
      flex-direction: column;

      .assets-box {
        flex-direction: column;
        max-width: 350px;
      }
    }
  }
}
