/* 스타일을 입혀줘 */
body {
  background-color: #fefefe;
  color: #000;
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.245);
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out,
    margin-top 0.5s ease-in-out;
}

*.disabled {
  pointer-events: none;
  /* 可选：改变按钮的视觉样式，让用户知道它已被禁用 */
  // background-color: #cccccc00;
}
